<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi aut officiis distinctio dolor error voluptatum
        veniam laudantium quos expedita quibusdam?</p>
    <button>submit</button>
</body>

</html>