<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RolleDice</title>
</head>

<body>
    <h1>Rolle dice random num by ejs templete: <%= Math.floor(Math.random()*6)+1 %>
    </h1>
    <h1>Random number by passing data: <%= ranNum %> and it is constant value:<%= num %>
    </h1>
</body>

</html>