<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Edit your post</h1>
    <p>Username: @<%=post.username %>
    </p>
    <p>Id: <%=post.id %>
    </p>
    <form method="post" action="http://localhost:8080/posts/<%=post.id %>?_method=PATCH">
        <textarea name="content" rows="10" cols="30"><%=post.content %></textarea><br><br>
        <button>Save Edit</button>
    </form>
</body>

</html>